@import url(https://cdnjs.cloudflare.com/ajax/libs/weather-icons/2.0.9/css/weather-icons.min.css);

*{
  margin:0;
  padding:0;
}

button{
  margin:0;
  padding: 0;
}
.main{
  height:100vh;
  width:100vw;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: rgba(36, 172, 177,.4);

}
.inner{
  height:80%;
  width:40%;
  text-align: center;
  /* border:1px solid black; */
}
/* input and searchbar */
.container{
  height:2rem;
  width:100%;
  display: flex;
  justify-content: center;
}
.search{
  height:2rem;
  width:60%;
  display: flex;
  flex-wrap: wrap;
  /* border:1px solid black; */
  /* box-shadow: 5px 10px 18px  #888888; */
}
.searchTerm{
  height:2rem;
  width: 80%;
  border:none;
  border-top-left-radius: 4px;
  border-bottom-left-radius: 4px;
  font-size: large;
 
}
.searchTerm:focus{
  outline: none;
  border:none;
}
.searchButton{
  height:2rem;
  width:20%;
  border:none;
  background-color: rgb(71, 152, 218);
  cursor: pointer;
  border-top-right-radius: 4px;
  border-bottom-right-radius: 4px;
  font-size: large;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
}

/* temp card */

.widget{
  margin-top: 10%;
  height:85%;
  width:100%;
  /* border:1px solid green; */
  box-shadow: 5px 10px 18px #888888;
  border-radius: 8px;
}

.weatherIcon{
   height:30%;
   width:100%;
   background-color: white;
   border-top-left-radius: 8px;
   border-top-right-radius: 8px;
   display: flex;
   justify-content: center;
   align-items: center;
}
.weatherInfo{
  height:70%;
  width:100%;
  background-color: white;
  border-bottom-left-radius: 8px;
  border-bottom-right-radius: 8px;

}
.country{
  height:40%;
  width: 100%;
  display: flex;
  justify-content: space-around;
  align-items: center;
}
.extra-temp{
  height:30%;
  width: 100%;
  display: flex;
  justify-content: space-around;
  background-color: white;
  margin-top: 2rem;
  font-weight: bold;
}
.extra-temp i{
      font-size:30px;
      color:skyblue;
}
.background{
  background-color: black;
  color:white;
  height:100%;
  /* width:%; */
}
.temperature{
  width:30%;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 30px;
  border-right: 2px solid black;
}
.description{
  width:50%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border-left: 2px solid black;
}
.weatherCondition{
  font-size: 33px;
}
.date{
  height:100%;
  width:auto;
  display: flex;
  align-items: center;
  font-weight: bold;
  font-size: 20px;
  background-color: aquamarine;
}

@media screen and (max-width:1100px){
  .search{
    width:70%;
  }
}
@media screen and (max-width:1000px){
  .inner{
    width:70%;
  }
  .search{
    height:2.5rem;
  }
  .searchTerm{
    height:2.5rem;
    font-size: 1.6rem;
  }
  .searchButton{
    height:2.5rem;
    font-size: 1.5rem;
    
  }
  .date{
    font-size:30px ;
  }
  .weatherInfo{
    font-size: 30px;
  }
}
@media screen and (max-width:600px){
  .inner{
    width:70%;
  }
  .search{
    height:2rem;
    width:85%;
  }
  .searchTerm{
    height:2rem;
    font-size: 1rem;
  
  }
  .searchButton{
    height:2rem;
    font-size: .8rem;
    
  }
  .date{
    font-size:16px ;
  }
  .weatherInfo{
    font-size: 16px;
  }
}
@media screen and (max-width:400px){
  .inner{
    width:80%;
  }
  .search{
    height:2rem;
    width:85%;
  }
  .searchTerm{
    height:2rem;
    font-size: 1rem;
  
  }
  .searchButton{
    height:2rem;
    font-size: .9rem;
    
  }
  .temperature{
    font-size: 20px;
  }
  .date{
    font-size:17px ;
  }
  .weatherInfo{
    font-size: 17px;
  }
  .place{
    font-size: 13px;
  }
}